img
{
    width: 200px;
}

body
{
    background-image: url(https://media.giphy.com/media/3osxYsIbneGOiG1pnO/giphy.gif);
    text=align: center;
}
body
{
    text-align: center;
    font-family: "Arial";
    background: red;
    color: blue;
}
